<h1>我是一个页面</h1>
<% a = 3 %>
<% if a > 5%>
  a 很大
<% else %>
  a 很小
<% end %>
<%= a * 2 %>
<%= @xxx %>

<footer>
  页面内容
</footer>
<% content_for :footer do %>
  <footer>
    页脚插槽内容
  </footer>
<% end %>
